@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1558d6;
  --color-secondary: #1f8ef1;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 dark:bg-slate-700 rounded-full hover:bg-slate-300 dark:hover:bg-slate-600 transition-colors;
  }
}